<h1 class="houseName"><%= @house.name %><h1>
<h2 class="houseCity"><%=@house.city%></h2>

<p class="housePrice">Price Per Night: $<%=@house.price_per_night%></p>
<p class="houseMaxGuests">Max guests: <%=@house.max_guests%></p>
<p class="houseDescription">Description: <%=@house.description%></p>
<p class="houseAmenities">Amenities: <%=@house.amenities%></p>
<% if @house.reviews.count !=0 %>
<p class="houseCleaninessRating">Average Cleanliness rating: <%@house.cleanliness_rating.round.times do %>&#9733<% end %></p>
<p class="houseLocationRating">Average Location rating: <%@house.location_rating.round.times do %>&#9733<% end %></p>
<p class="houseAverageValue">Average Value rating: <%@house.value_rating.round.times do %>&#9733<% end %></p>
<p class="houseOverallRating">Overall Rating: <%@house.overall_rating.round.times do %>&#9733<% end %></p>
<% end %>
<p class="housePetsAllowed">Pets allowed: <%="Yes" if @house.pets_allowed%><%="No" if !@house.pets_allowed%></p>
<p class="houseNoOfReviews">Total number of reviews: <%=@house.reviews.count%>
<% if @house.reviews.count !=0 %>
<%= link_to "See all reviews", house_reviews_path(@house)%></p>
<% end %>
<br><br>

<a href="#" class="js-next" data-id="<%=@house.id%>">Next House</a>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function(event) {
    event.preventDefault();

    var nextId = parseInt($(".js-next").attr("data-id")) + 1;

    $.get("/houses/" + nextId + "/data", function(data) {
      $(".houseName").text(data["name"]);
      $(".houseCity").text(data["city"]);
      $(".housePrice").text(data["price_per_night"]);
      $(".houseMaxGuests").text(data["max_guests"]);
      $(".houseDescription").text(data["description"]);
      $(".houseAmenities").text(data["amenities"]);
      // re-set the id to current on the link
      $(".js-next").attr("data-id", data["id"]);
    });
  });
});
</script>


<%= form_tag stays_path, method: :post  do %>
<%= hidden_field_tag(:guest_id, current_user.id) %>
<%= hidden_field_tag(:house_id, @house.id) %>
<% if @house.owner == current_user %>
  <%= link_to "Edit House", edit_house_path(@house)%>&nbsp&nbsp

  <%= link_to 'Delete House', house_path(@house),
              method: :delete,
              data: { confirm: 'Are you sure?' } %><br><br>
<% elsif !current_user.owner %>
  <label>How many days are you going to stay?</label>
  <%= text_field_tag :days %>&nbsp
  <%= submit_tag "Book This House"%>
<% end %>

<% end %>
<br><%= link_to "Back To All Houses", houses_path %>
